    <footer class="container">
        <div class="site-footer" role="contentinfo">
            <div class="copyright left mobile-block">
                    © 2017
                    <span title="{{ site.author}}">{{ site.author }}</span>
            </div>
            <div class="copyright left mobile-block">
                <span>世事纷纭果造因，错疑微似便成真</span>
            </div>

        </div>
    </footer>
    <!-- / footer -->
    <script src="{{ site.url }}/assets/vendor/share.js/dist/js/share.min.js"></script>
    <script src="{{ site.url }}/assets/js/geopattern.js"></script>
    <script src="{{ site.url }}/assets/js/prism.js"></script>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/globals/prism.css">

</body>
</html>
