---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
<div class="container">
  <div class="columns">
    <div class="column three-fourths">
      <div class="collection-title">
        <h1 class="collection-header">{{ page.title }}</h1>
        <div class="collection-info">
          <span class="meta-info">
            <span class="fa fa-weibo fa-lg">
              <a href="https://weibo.com/u/5824742984/home" target="_blank">
                <i class="fa fa-weibo" aria-hidden="true"></i> 
                <span class="sr-only"></span>天生的黑_燕睿涛
              </a>
            </span>
          </span>
          {% if page.date %}
          <span class="meta-info">
            <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
          </span>
          {% endif %}
          {% for cat in page.categories %}
          <span class="meta-info">
            <span class="octicon octicon-file-directory"></span>
            {{ cat }}
          </span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / .banner -->
<section class="container content">
  <div class="columns">
    <div class="column three-fourths" >
      <article class="article-content markdown-body">
      {{ content }}
      </article>
    </div>
  </div>
</section>
<!-- /section.content -->
